<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="bookcontoller.js"></script>
<title>Insert title here</title>
</head>
<body>
<pre>
Enter ISBN	:	<input type="text" ng-model="book.isbn"><br>
Enter TABLE	:	<input type="text" ng-model="book.title"><br>
Enter AUTHOR	:	<input type="text" ng-model="book.author"><br>
Enter PRICE	:	<input type="text" ng-model="book.price"><br>
<button ng-click="addBook()">Add Book</button>
</pre>
</body>
</html>